body{
font-family:"Segoe UI","Lucida Grande",Helvetica,Arial,"Microsoft YaHei",FreeSans,Arimo,"Droid Sans","wenquanyi micro hei","Hiragino Sans GB","Hiragino Sans GB W3",FontAwesome,sans-serif;
}
@font-face
{
	font-family: Myriad;
	src:url("../fonts/MyriadSetPro-ExtraThin.otf");
}
.screen
{
	height: 100%;
	width: 100%;
	position: absolute;
}
/*导航屏CSS*/
.alphabet_background
{
	position: absolute;
	height: 100%;
	width: 20%;
	top:0%;
	background-color: white;
	opacity: 0.4;
	z-index: 1;
	transition: 1s;
	-moz-transition: 1s; /* Firefox 4 */
	-webkit-transition:1s; /* Safari 和 Chrome */
	-o-transition:1s; /* Opera */
}
.alphabet_font
{
	position:absolute;
	top:40%;
	font-size: 1100%;
	left: 0;
	right: 0;
	margin: auto;
	/*display:block;
	transform:scale(10,11);*/
}
.alphabet_font a p
{
	cursor: pointer;
	font-family: Myriad;
	text-align:center;
	margin:0%;
}
.alphabet_font a{color:black;text-decoration:none;}
.alphabet_font a:link{color:black;}
.alphabet_font a:visited{color:black;}
.alphabet_font a:hover{	color:black;}
.alphabet_font a:active{	color:black;}
.alphabet_font a:focus{color:black;}
.guide	
{
	position: absolute;
	bottom: 0%;
	background-color: white;
	height: 0%;
	width: 20%;
	opacity: 0;
	transition: 1s;
	-moz-transition: 1s; /* Firefox 4 */
	-webkit-transition:1s; /* Safari 和 Chrome */
	-o-transition:1s; /* Opera */
}
.guide a p
{
	cursor: pointer;
	text-align:center;
	padding-top:10%;
	font-size:100%;
}
.show
{
	height: 100%;
	width: 20%;
	border: none;
}
.show:hover .alphabet_background
{
	height: 80%;
}
.show:hover .guide
{
	height: 20%;
	opacity: 0.4;
}
.guide a{color:black;text-decoration:none;}
.guide a:link{color:black;}
.guide a:visited{	color:black;}
.guide a:hover{color:black;}
.guide a:active{color:black;}
.guide a:focus{color:black;} 

/*协会介绍CSS*/
#secondscreen
{
	top: 100%;
	background-size:100%;
	background:url('../img/bg_intro.png');
}
.xdsec_intro{
position:absolute;
height:100%;
width:45%;
}
.xdsec_slide{
	position:absolute;
	left:45%;
	height:100%;
	width:55%;
	background-color:#0daca8;
}
.xdsec_information_title
{
	position:absolute;
	top:10%;
	left: 0%;
	background-color:#0daca8;
	height:19%;
	padding:0 2%;
}
.xdsec_information_content
{
	position:absolute;
	padding:2%;
	text-align:left;
	height:60%;
	top:30%;
	opacity: 1;
	z-index: 2;
	overflow:auto;
	margin-left:2%;
	line-height:1.5em;
	font-size:1.2em;
}
.xdsec_information_content::first-letter
{
	font-size: 200%;
}
/*分组介绍CSS*/
#groupintro
{
	top:200%;
	background: #FFFFCC;
	background-position:center;
}
.vertical_line
{
	position:absolute;
	height:60%;
	width:1px;
	top:25%;
	background:black;
	z-index:5;
}
.group
{
	width:16%;
	height:100%;
	padding-top:13%;
	position:absolute;
	
}
.group h3, .group h4, .group p
{
	padding:15px;
}

.group h3, .group h4{
	text-align:center;
}

/*导航按钮CSS*/
.list_guide
{
	position: fixed;
	right: 5%;
	bottom: 100px;
	width: 50px;
	height: 50px;
	border-radius: 25px;
	cursor: pointer;
	z-index: -1;
	background-size: 100%;
	transition: 0.2s;
	-moz-transition: 0.2s; /* Firefox 4 */
	-webkit-transition:0.2s; /* Safari 和 Chrome */
	-o-transition:0.2s; /* Opera */
}
/*协会成员CSS*/
#member_background{
	top:0px;
	right:0px;
	bottom:0px;
	left:0px;
	margin:auto;
	height:480px;
	width:1200px;
	position:absolute;
}
.head
{
	width:120px;
	height:120px;
	float: left;
	background-size:cover !important;
}
.info
{
	background:#003366;
	margin:0px;
}
.info h4
{
	text-align:center;
	margin:0px;
	margin-top:3px;
	color: #FFFF99;
}
.info p
{
	color: #FFFF99;
	text-align:center;
	margin:5px;
	margin-top:3px;
	font-size:12px;
}
.member_button
{
	position:absolute;
	background:firebrick;
	left:30px;
	text-align:center;
	bottom:10px;
	width:60px;
	height:20px;
	border:none;
	border-radius:4px;
	text-decoration:none;
	font-size:14px;
}

.member_button:link,.member_button:visited,.member_button:hover,.member_button:active {
	color:#ffffff
}


/*各类入口CSS*/
.collections
{
	width:200px;
	height:250px;
	margin:25px;
	float:left;
}
#collections_background
{
	position:absolute;
	top:0;
	left:0;
	right:0;
	bottom:0;
	margin:auto;
	height:300px;
	width:1000px;
}
.collection_icon
{
	position:absolute;
	width:200px;
	height:200px;
	background-size:100%;
}
.collection_name
{
	position:absolute;
	width:200px;
	height:50px;
	background:#99CCCC;
	bottom:25px;
}
.collection_name h4
{
	margin-bottom: 15px;
	margin-top: 15px;
}
.collection_name a{color:black;text-decoration:none;}
.collection_name a:link{color:black;}
.collection_name a:visited{	color:black;}
.collection_name a:hover{color:black;}
.collection_name a:active{color:black;}
.collection_name a:focus{color:black;} 



