/* -----------  ALL SETTING ----------------*/
@font-face {
    font-family: "xdsec_ch";
    src: url('../fonts/LanTing.ttf');
}
html,body {
    height: 100%;
    width: 100%;
    margin: 0 0 0 0;
    padding: 0 0 0 0;
}
h1,h2,h3,h4,h5,h6,p,li,footer {
    font-family: "xdsec_ch";
    margin: 0 0 0 0;
    padding: 0 0 0 0;
}
hr {
    border: #000000 solid 1px;
}
.container {
    display: flex;
    align-items: center;
    justify-content: center;
}
.box {
    display: flex;
    width: 1000px;
    height: 100%;
    flex-wrap: wrap;
}
.angle {
    display: none;
}
a:link,
a:visited,
a:hover,
a:active{
    text-decoration: none;
    color: #000000;
}
/* -----------  LEFT SETTING ----------------*/
.left {
    width: 100px;
    height: auto;
    background-color: #FFFFFF;
}
.left > ul {
    list-style: none;
    margin: 100px 0 0 0;
    padding: 0 0 0 0;
}
.left > ul > a > li {
    font-size: 1.3em;
    display: block;
    height: 50px;
    width: 100%;
    line-height: 50px;
    margin-top: 20px;
    text-align: center;
}
@media screen and (min-device-width: 451px) {
    .left > ul > a > li:hover {
        background-color: #DD0000;
        color: white;
    }
}
/* -----------  RIGHT SETTING ----------------*/
.right {
    flex: 1;
    height: auto;
    padding: 20px;
}
.right img {
    height: 80px;
    float: left;
}
/* -----------  INDEX CSS ----------------*/
#index > ul > h1 {
    font-size: 1.5em;
    line-height: 40px;
    padding: 10px;
}
#index > ul > li {
    font-size: 1.2em;
}
#index > ul > p{
    font-size: 1em;
    padding: 10px;
}
#index > ul > li {
    color: #DD0000;
    padding: 10px;
}
#index > ul > h1 > img {
    height: 40px;
    margin-right: 10px;
    vertical-align: middle;
}
/* -----------  DIRECT CSS ----------------*/
#Direct > ul {
    list-style: none;
}
#Direct > ul > h3 {
    font-size: 1.3em;
}
#Direct > ul > p{
    font-size: 1em;
}
#Direct > ul > i {
    border: #DD0000 solid 2px;
    color: #DD0000;
}
#Direct > ul > hr {
    border: #000000 solid 1px;
}
/* -----------  MEMBER CSS ----------------*/
#Member {
    padding-left: 40px; 
}
#Member > .list {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 0px 30px;
}
#Member > h1 {
    font-size: 1.5em;
}
#Member > .list > ul > li {
    font-size: 1.2em;
    margin: 5px;
}
#Member > .list > ul > li:hover {
    color: #DD0000;
}
#Member > .list > ul > li:hover > a {
    color: #DD0000;
}
/* -----------  NOTICE CSS ----------------*/
#Notice > ul > h1,
#Notice > ul > p {
    margin: 20px;
}
#Notice > ul > h1 {
    font-size: 1.5em;
}
#Notice > ul > p {
    font-size: 1em;
}
#Notice > ul > hr {
    border: #DD0000 solid 1px;
}
#Notice > ul > p > strong > a {
    text-decoration: underline;
}
/* -----------  FOOT CSS ----------------*/
footer {
    width: 100%;
    padding: 20px;
    text-align: center;
}
footer > img {
    vertical-align: middle;
}